@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/
.blog {

  &__item {
    margin-bottom: 30px;
    
    &-media {
      overflow: hidden;
      position: relative;
      @include border-radius(0);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @extend %rr-transition-3;
      }
    }

    &-meta {
        gap: 5px;
        list-style: none;
        a {
        font-size: 14px;
        font-weight: var(--rr-fw-medium);
      }
    }

    &__content {
        margin-top: 25px;
        h6 {
            font-weight: var(--rr-fw-sbold);
        }
    }


    &:hover {
      .blog__item-media {

        img {
          transform: scale(1.1);
        }
      }
    }
  }
}